apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nexus-local-data
  namespace: nexus-local
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 1Gi
